.leftnav {
  z-index: 99 !important;
  transform: translateX(-100%);
  transition: all .2s ease-in;
  background: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 290px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  box-shadow: 2px 1px 2px 0px rgba(0,0,0,0.02);
  color: #4499FC;
  border-right: 1px solid #ddd;
  & > i {
    font-size: 1.8em;
    padding: .5em .6em;
    text-align: center;
  }
  h2 {
    width: 100%;
    margin: 0;
    padding: .3em .5em;
    font-size: 3.5em;
    text-align: center;
  }
}
.open {
  transform: translateX(0);
}

.nav {
  width: 100%;
  height: auto;
  overflow: auto;
  padding: 1em 0;
  a {
    position: relative;
    display: block;
    height: auto !important;
    padding: .3em 1em;
    font-size: 1.3em;
    transition: all .15s ease-in;
    color: #666;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    i {
      text-align: center;
      width: 1.5em;
      padding-right: 2em;
    }
    img {
      width: 2.5em;
      margin-right: 1em;
    }
    &:hover {
      color: #4499FC !important;
      background: #eee;
    }
  }
}
