.loginContainer {
  padding: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('/static/img/cargo.jpg') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}
