.formContainer {
  width: 80%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  & > div {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .1);
    margin: 1em auto;
    background: #FFF;
    display: block;
    width: 600px;
    height: auto;
    & > p {
      text-align: center;
      padding: 2em 1em;
    }
  }
}

.formTitle {
  color: #666;
  font-size: 1.3em;
  padding: 1em 0 0 .7em;
}

.btns {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.publishBtn {
  text-decoration: none;
  color: #FFF;
  background: #bb0036;
  border-radius: 5px;
  padding: .6em 1em;
  font-size: 1em;
  width: 8em;
  height: 2.8em;
  text-align: center;
  margin-right: .6em;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    font-size: 1.2em;
  }
}
