.listContainer {
  padding: 25px;
  border-top: 1px solid #aaa;
  & > button {
    font-size: 1em;
    padding: .5em 1em;
    border-radius: 5px;
    color: #555;
  }
}

.list {
  padding: 25px 0 0 0;
  & > div {
    display: block;
    padding: 16px;
    background: rgba(60, 30, 0, .1);
    margin-bottom: 5px;
    text-decoration: none;
  }
}

.listHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;

  & > h3 {
    padding: 0;
    margin: 0;
    color: #666;
    font-size: 1.6em;
    font-weight: lighter;
  }
  & > button {
    text-decoration: none;
    color: #FFF;
    background: #bb0036;
    border-radius: 5px;
    font-size: 1em;
    height: 2.8em;
    text-align: center;
    padding: 0 1.5em;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background: black;
    }
  }
}
