:global * {
  box-sizing: border-box !important;
  font-family: arial;
  print-color-adjust: exact !important;
  color-adjust: exact !important;
  scroll-behavior: smooth;
}

:global body {
  background: #F2F2F2 !important;
  box-sizing: content-box !important;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  overflow: auto;
}

:global i {
  font-family: 'FontAwesome' !important;
}

.layoutContainer {
  font-family: arial;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
}
.contentWrapper {
  padding: 0px 0;
  width: 100%;
  position: relative;
}
.loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
  color: #f39200;
}
.footer {
  text-align: center;
  padding: 1em;
  background: #021242;
  color: #FFF;
}
