.formContainer {
  width: 80%;
  margin: 0 auto;
  background: #FFF;
}

.formHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;

  & > h3 {
    padding: 0;
    margin: 0;
    color: #666;
    font-size: 2em;
    font-weight: lighter;
  }
  & > a {
    text-decoration: none;
    color: #FFF;
    background: #bb0036;
    border-radius: 5px;
    font-size: 1em;
    height: 2.8em;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background: black;
    }
  }
}

.btns {
  padding: 1em;
  display: flex;
  align-items: center;
}

.courseForm {
  padding: 1em;
}


.text {
  padding: .4em 0;
  label {
    display: block;
    padding: 0 0 .3em 0;
    color: #777 !important;
  }
  input {
    font-size: 1em;
    padding: .4em;
    height: 3em;
    width: 100%;
    border-radius: 4px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .2);
  }
  span {
    color: red;
  }
}
.textarea {
  padding: .4em 0;
  label {
    display: block;
    padding: 0 0 .3em 0;
    color: #777 !important;
  }
  textarea {
    font-size: 1em;
    padding: .4em;
    height: 3em;
    width: 100%;
    border-radius: 4px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .2);
  }
  span {
    color: red;
  }
}
.number {
  padding: .4em 0;
  label {
    display: block;
    padding: 0 0 .3em 0;
    color: #777 !important;
  }
  input {
    font-size: 1em;
    padding: .4em;
    height: 3em;
    width: 100%;
    border-radius: 4px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .2);
  }
  span {
    color: red;
  }
}
.select {
  padding: .4em 0;
  label {
    display: block;
    padding: 0 0 .3em 0;
    color: #777 !important;
  }
  select {
    font-size: 1em;
    padding: .4em;
    height: 3.1em !important;
    width: 100%;
    border-radius: 4px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .2);
    background: #FFF;
  }
  span {
    color: red;
    background: red;
  }
}

.file {
  padding: .4em 0;
  label {
    display: block;
    padding: 0 0 .3em 0;
    color: #777 !important;
  }
  div {
    display: flex;
    font-size: 1em;
    height: 3em;
    width: 100%;
    border-radius: 4px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .2);
    background: #FFF;
    overflow: hidden;
    & > div {
      margin: 0 !important;
      border: 0 !important;
      padding: .4em .6em;
      width: 100%;
      text-align: left !important;
      display: flex;
      align-items: center;
    }
    & > button {
      padding: .4em .6em;
      background: #FAFAFA !important;
      border: 0;
      border-left: 1px solid rgba(0, 0, 0, .2);
      cursor: pointer;
      outline: 0 !important;
    }
  }
  span {
    color: red;
  }
}

.publishBtn {
  text-decoration: none;
  color: #FFF;
  background: #bb0036;
  border-radius: 5px;
  padding: .6em 1em;
  font-size: 1em;
  width: 8em;
  height: 2.8em;
  text-align: center;
  margin-right: .6em;
  svg {
    font-size: 1.2em;
  }
}

.backBtn {
  display: block;
  text-decoration: none;
  color: #FFF;
  background: #bb0036;
  border-radius: 5px;
  padding: .6em 1em;
  font-size: 1em;
  width: 8em;
  height: 2.8em;
  margin-right: .6em;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    font-size: 1.2em;
  }
}

.inputsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 16px;
  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}
