.listContainer {
  padding: 1em;
}

.listHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > h3 {
    padding: 0;
    margin: 0;
    color: #666;
    font-size: 2.5em;
    font-weight: lighter;
  }
  & > a {
    text-decoration: none;
    color: #FFF;
    background: #bb0036;
    border-radius: 5px;
    font-size: 1em;
    width: 12em;
    height: 2.8em;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background: black;
    }
  }
}

.list {
  padding: 25px 0 0 0;
  & > a {
    display: block;
    padding: 16px;
    background: rgba(60, 30, 0, .1);
    margin-bottom: 5px;
    text-decoration: none;
    color: #333;
  }
}
