.header {
  background: rgba(20, 50, 70, 1);
}

.nav {
  width: 100%;
  margin: 0 auto;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  & > div {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    width: 100%;
  }
  img {
    height: 1.8vw;
  }
  a {
    color: #FFF;
    text-decoration: none;
    padding: 1.5vw .8vw;
    text-transform: uppercase;
    font-size: .9vw;
  }
  a:hover, a:focus {
    text-decoration: none;
  }
}

.register {
  color: #ff4a4a !important;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 .5em;
}

.userButton {
  color: #FFF;
  position: relative;
  padding: 0 2.5em;
  cursor: pointer;
  img {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 3em;
    margin-right: .5em;
  }
  & > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  & > div:nth-child(2) {
    position: absolute;
    background: #FFF;
    top: 3em;
    right: 0;
    display: block;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 13em;
    overflow: hidden;
    z-index: 99;
    a {
      color: rgba(20, 50, 70, 1);
      display: block;
      padding: 1em 1.5em;
      &:hover {
        background: #ddd
      }
    }
  }
}
