.login {
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #FFF;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  h1 {
    text-align: center;
    width: 100%;
    color: #ff4a4a;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
    padding: 1em 0 .4em 0;
  }
  & > form {
    padding: 1em;
    & > div {
      padding: 0 0 1.6em 0;
    }
    label {
      display: block;
      color: #FFF;
      font-weight: normal;
      padding: .35vw 0;
      text-transform: uppercase;
      font-size: .85vw;
    }
    button {
      margin-top: 1vw;
      background: #ff4a4a;
      border: 1px solid #ff4a4a;
      border-radius: 5px;
      color: #fff;
      padding: .7vw;
      width: 100%;
      text-transform: uppercase;
      text-align: center;
      font-size: 1vw;
      &:hover {
        background: black;
      }
    }
    a {
      display: block;
      text-align: center;
      padding: .5em 0;
      color: #FFF;
      text-decoration: none;
      strong {
        color: #ff4a4a;
      }
    }
  }
}

.text, .email, {
  padding: 0;
  label {
    display: block;
    padding: 0 0 .1em 0;
  }
  select, input[type="text"], input[type="number"], input[type="email"], input[type="password"] {
    padding: 1em !important;
    width: 100%;
    font-size: 1em;
    font-weight: lighter;
    height: 2.2em;
    border-radius: 5px;
    outline: 0;
    border: 1px solid #aaa;
    height: auto;
    appearance: none;
  }
  span {
    color: red;
  }
}

.radio, .checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  label {
    display: block;
    padding: .5em 1em;
  }
  input {
    display: block;
    margin: 0 auto;
  }
  span {
    color: red;
  }
}
