.dashboardContainer {
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
  }
  a, button {
    margin: .5em;
    display: block;
    background: #ff4a4a;
    border: 1px solid #ff4a4a;
    border-radius: 5px;
    color: #fff;
    padding: .7vw;
    width: 10em;
    text-transform: uppercase;
    text-align: center;
    font-size: 1vw;
    text-decoration: none;
    &:hover {
      background: black;
    }
  }
}
